<!-- START PAGE CONTAINER -->
<div class="container">
    <!-- BASIC EXAMPLE -->
    <div class="block">
      <div class="app-heading app-heading-small">
        <div class="title"><h2>Ajouter un Fournisseur</h2>
          <p>Fournisseur</p>
        </div>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label class="col-md-2 control-label">Nom</label>
          <div class="col-md-5">
            <input type="text" class="mask_date form-control" name="nom" ngModel>
          </div>
  
        </div>
  
  
        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-5">
              <input type="text" class="mask_date form-control" name="description" ngModel>
            </div>
    
          </div>
          
        <div class="form-group">
            <label class="col-md-2 control-label">Rue</label>
            <div class="col-md-5">
              <input type="text" class="mask_date form-control" name="rue" ngModel>
            </div>
    
          </div>
          
        <div class="form-group">
            <label class="col-md-2 control-label">Region</label>
            <div class="col-md-5">
              <input type="text" class="mask_date form-control" name="region" ngModel>
            </div>
    
          </div>
          
        <div class="form-group">
            <label class="col-md-2 control-label">Numero Telephone</label>
            <div class="col-md-5">
              <input type="text" class="mask_date form-control" name="num_tel" ngModel>
            </div>
    
          </div>
          <div class="form-group">
              <label class="col-md-2 control-label">Numero Fax</label>
              <div class="col-md-5">
                <input type="text" class="mask_date form-control" name="num_fax" ngModel>
              </div>
      
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-5">
                  <input type="text" class="mask_date form-control" name="email" ngModel>
                </div>
        
              </div>
  
              <div class="form-group">
                <label class="col-md-2 control-label">Matricule Fiscale</label>
                <div class="col-md-5">
                  <input type="text" class="mask_date form-control" name="matricule_fiscale" ngModel>
                </div>
        
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Active</label>
                <div class="col-md-5">
                  <input type="checkbox" class="mask_date form-control" name="is_active" ngModel>
                </div>
        
              </div>

  
        <div class="form-group margin-top-20"><button class="btn btn-default" type="submit">Submit & Validate</button></div>
  
  
      </form>
  
  
    </div>
  </div>
  
  <!-- IMPORTANT SCRIPTS -->
  <script type="text/javascript" src="assets\js\vendor\jquery\jquery.min.js"></script>
  <script type="text/javascript" src="assets\js\vendor\jquery\jquery-migrate.min.js">
  </script>
  <script type="text/javascript" src="assets\js\vendor\jquery\jquery-ui.min.js"></script>
  <script type="text/javascript" src="assets\js\vendor\bootstrap\bootstrap.min.js"></script>
  <script type="text/javascript" src="assets\js\vendor\moment\moment.min.js"></script>
  <script type="text/javascript" src="assets\js\vendor\customscrollbar\jquery.mCustomScrollbar.min.js"></script>
  <!-- END IMPORTANT SCRIPTS -->
  <!-- THIS PAGE SCRIPTS -->
  <script type="text/javascript" src="assets\js\vendor\nestable\jquery.nestable.js"></script>
  <script type="text/javascript" src="assets\js\vendor\bootstrap-tagsinput\bootstrap-tagsinput.js"></script>
  <script type="text/javascript" src="assets\js\vendor\bootstrap-colorpicker\bootstrap-colorpicker.min.js"></script>
  <!-- END THIS PAGE SCRIPTS -->
  <!-- APP SCRIPTS -->
  <script type="text/javascript" src="assets\js\app.js"></script>
  <script type="text/javascript" src="assets\js\app_plugins.js"></script>
  <script type="text/javascript" src="assets\js\app_demo.js"></script>
  <!-- END APP SCRIPTS -->
  <script type="text/javascript">$(document).ready(function(){
      $("#nestable").nestable({group: 1});
      $("#nestable2").nestable({group: 1});
  });</script>
  <script>
  // Material Select Initialization
  $(document).ready(function() {
  $('.mdb-select').materialSelect();
  });
  </script>
  