<!-- START SIDEBAR -->
<div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left" data-type="close-other">
    <a href="index.html" > <button class="app-navigation-logo-button mobile-hidden" data-sidepanel-toggle=".app-sidepanel">
      <span class="icon-alarm"></span>
  <span class="app-navigation-logo-button-alert"></span>
</button>
</a>
  <nav>
    <ul>
      <!-- START PACK PRODUCT-->
      <li class="title">PACK PRODUIT</li>
      <li><a routerLink="/home/dashboard/"><span class="nav-icon-hexa">TB</span> Tableau de Bord</a></li>
      <li><a routerLink="/home/product"><span class="nav-icon-hexa">TP</span> Produit</a>
       <li><a  routerLink="/home/lot"><span class="nav-icon-hexa">TL</span> Lots </a></li>
        <li><a  routerLink="/home/marque"><span class="nav-icon-hexa">TM</span>Marques</a></li>
        <li><a  routerLink="/home/categorie"><span class="nav-icon-hexa">TC</span>Categories</a></li>
      <!--  END PACK PRODUCT-->
      <!-- START PACK USERS-->
      <li class="title">PACK UTILISATEURS</li>
      <li>

      <li><a routerLink="/home/categories/"><span class="nav-icon-hexa">LU</span>UTILSATEUR</a>
      <ul>
        <li><a  routerLink="/home/users"><span class="nav-icon-hexa">TU</span>tous utlisateurs</a></li>
      </ul>
      </li>
      <li><a routerLink="/home/categories/show_all"><span class="nav-icon-hexa">LS</span>LISTE SOCIETES </a>
        <ul>
          <li><a  routerLink="/home/product/all-product"><span class="nav-icon-hexa">TU</span>tous société</a></li>
        </ul>
      </li>
      <li><a routerLink="/home/categories/show_all"><span class="nav-icon-hexa">LA</span>LISTE ADMINS </a>
        <ul>
          <li><a  routerLink="/home/product/all-product"><span class="nav-icon-hexa">TA</span>tous admin</a></li>
        </ul>
      </li>
      <!--  END PACK USERS-->



      <!--  START PACK COMMANDES-->
      <li class="title">PACK COMMANDES</li>
      <li><a routerLink="/home/users"><span class="nav-icon-hexa">C</span>commandes</a>
      </li>
      <li><a routerLink="/home/users"><span class="nav-icon-hexa">F</span>factures</a>
      </li>
      <li><a routerLink="/home/users"><span class="nav-icon-hexa">F</span>fournisseurs</a>
      </li>
      <!--  END PACK COMMERCIAL-->

      <!--  START PACK COMMMERCIAL-->
      <li class="title">COMMERCIAL PACK</li>
      <li>
        <a  routerLink="/home/product"><span class="nav-icon-hexa">AP</span>LISTE COMMANDES</a>
        <ul>
          <li><a  routerLink="/home/product"><span class="nav-icon-hexa">AP</span>Ajouter Produit</a></li>
          <li><a  routerLink="/home/product/all-product"><span class="nav-icon-hexa">AP</span>Les produits</a></li>

          <li><a href="#"><span class="nav-icon-hexa">Lt</span> Lists</a>
            <ul>
              <li><a href="components-lists.html"><span class="nav-icon-hexa">Bl</span> Basic Lists</a></li>

            </ul>
          </li>

        </ul>
      </li>
      <!--  END PACK COMMAERCIAL-->



</ul></nav></div>
<!-- END SIDEBAR -->

