<!-- START SIDEBAR -->
<div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left" data-type="close-other"><a href="index.html" class="app-navigation-logo">Boooya - Revolution Admin Template <button class="app-navigation-logo-button mobile-hidden" data-sidepanel-toggle=".app-sidepanel"><span class="icon-alarm"></span>
  <span class="app-navigation-logo-button-alert">7</span>
</button>
</a>
  <nav>
    <ul>
      <li class="title">Tableau de bord</li>
      <li><a routerLink="/dashboard/"><span class="nav-icon-hexa">TB</span> Tableau de Bord</a></li>
      <li class="title">Categorie</li>
<!--  Categorie-->
  <li>

      <li><a routerLink="/categories/"><span class="nav-icon-hexa">AC</span>
        Ajouter Categorie </a>
      </li>
      <li><a routerLink="/categories/show_all"><span class="nav-icon-hexa">AC</span>
        Afficher tous Categories </a>

      </li>


  <!--  Users-->

  <li class="title">Utilisateurs</li>
  <li><a routerLink="/users"><span class="nav-icon-hexa">Fe</span> All Users</a>

  </li>

  <li class="title">Produits</li><li>
      <a  routerLink="/product"><span class="nav-icon-hexa">AP</span>Produit</a>
      <ul>
        <li><a  routerLink="/product"><span class="nav-icon-hexa">AP</span>Ajouter Produit</a></li>

        <li><a href="#"><span class="nav-icon-hexa">Lt</span> Lists</a>
          <ul>
            <li><a href="components-lists.html"><span class="nav-icon-hexa">Bl</span> Basic Lists</a></li>

          </ul>
        </li>

      </ul>
    </li>



</ul></nav></div>
<!-- END SIDEBAR -->

