<div class="block block-condensed">
    <!-- START HEADING -->
    <div class="app-heading app-heading-small">
        <div class="title">
            <h5>Les utilisateurs</h5>
            <p>Liste des clients </p>
        </div>
    </div>
    <!-- END HEADING -->
    <div class="table-responsive">
        <table class="table table-head-light table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Active</th>
                    <th>Email</th>
                    <th>Societe</th>
                    <th>Role</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of user">
                    <th>{{u.nom}}</th>
                    <th>{{u.prenom}}</th>
                    <th>{{u.is_actif}}</th>

                    <th>{{u.email}}</th>
                    <th >{{u.societe.nom}}</th>
                    <th >{{u.roles.nom}}</th>

                    <th></th>
                </tr>

            </tbody>
        </table>
    </div>
</div>
