<div class="block block-condensed">
    <!-- START HEADING -->
    <div class="app-heading app-heading-small">
        <div class="title">
            <h5>Using Template Features</h5>
            <p>Its possible to use all features inside table</p>
        </div>
    </div>
    <!-- END HEADING -->
    <div class="table-responsive">
        <table class="table table-head-light table-striped">
            <thead>
                <tr>
                    <th>utilisateur</th>
                    <th>à propos</th>
                    <th>date de naissance</th>
                    <th>role</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of user">
                    <th>{{u.nom}}</th>                 
                    <th>{{u.prenom}}</th>
                    <th>{{u.is_actif}}</th>

                    <th>{{u.email}}</th>
                    <th *ngFor="let item of {{u.societe}}">{{item.nom}}</th>
                    <th *ngFor="let r of {{u.roles}}">{{r.nom}}</th>


                </tr>
                    
            </tbody>
        </table>
    </div>
</div>
