
<div class="container">
  <div class="col-md-12">
    <!-- START LATEST TRANSACTIONS -->
    <div class="block block-condensed">
      <div class="app-heading">
        <div class="title">
          <h2>Les lots </h2>
          <p>Information rapide</p>

        </div>
        <div class="row margin-bottom-30 margin-top-10">
          <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="col-xs-5">
              <button class="btn btn-primary btn-block btn-icon-fixed" >
                <span class="fa fa-caret-left"></span>
                Produits
              </button>
            </div>
            <div class="col-xs-5">
              <button class="btn btn-primary btn-block btn-icon-fixed" data-toggle="modal" data-target="#modal-large">
                <span class="fa fa-plus"></span>
                Ajouter Lot
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row grid">

        <div class="table-responsive">
          <table class="table table-head-light table-striped">
            <thead>
            <tr>
              <th width="150">Produit</th>
              <th width="150" >Quantite</th>
              <th  width="150" style="margin-right: 10px" class="col-md-1" >Prix achat</th>
              <th width="150" class="col-md-2">Date achat</th>
              <th width="150"class="col-md-2">Prix vente</th>
              <th width="150"class="col-md-2">Priorite</th>
              <th width="150"class="col-md-2">Date expiration</th>
              <th width="150"class="col-md-2">Date creation</th>
              <th width="150"class="col-md-2">Status</th>
              <th width="120"class="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of lot" >
              <td >
                <a href="#" class="text-bolder text-primary">{{i.produits.id}}</a>
              </td>
              <td >
                <a href="#" class="text-bolder text-primary">{{i.quantite}}</a>
              </td>
              <td >
                <a href="#" class="text-bolder text-primary">{{i.prix_achat}}</a>
              </td>
              <td >
                <a href="#" class="text-bolder text-primary">{{i.date_achat}}</a>
              </td>
              <td >
                <a href="#" class="text-bolder text-primary">{{i.prix_vente_souhaiter}}</a>
              </td>
              <td >
                <a href="#" class="text-bolder text-primary">{{i.priorite_de_vente}}</a>
              </td>
              <td >
                <a href="#" class="text-bolder text-primary">{{i.date_expiration}}</a>
              </td>
              <td>{{i.created_at| date}}</td>
              <td ><button type="submit" (click)="recupid(i.id)" class="btn btn-primary btn-icon" data-toggle="modal" data-target="#modal-info" ><span class="icon-pencil"></span></button>
                <button type="submit" (click)="delete(i.id)" class="btn btn-danger btn-icon"><span class="icon-cross"></span></button></td>
            </tr>

            </tbody>
          </table>
        </div>


      </div>
    </div>
    <!-- END PAGE CONTAINER -->
  </div>
</div>




<!-- MODAL PRIMARY -->
<div class="modal fade" id="modal-primary" tabindex="-1" role="dialog" aria-labelledby="modal-primary-header">
  <div class="modal-dialog modal-primary" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="icon-cross"></span>
    </button>
    <div class="modal-content"><div class="modal-header">
      <h4 class="modal-title" id="modal-primary-header">Ajout lot</h4>
    </div>
      <form [formGroup]="formlot" (ngSubmit)="submit()">
        <div class="modal-body" >
          <div class="form-group">
            <label class="col-md-2 control-label">Quantite</label>
            <div class="col-md-10">
              <input type="text" class="mask_date form-control"  name="quantite" formControlName="quantite">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Prix achat</label>
            <div class="col-md-10">
              <input type="text" class="mask_date form-control"  name="prix_achat" formControlName="prix_achat">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Prix vente souhaiter</label>
            <div class="col-md-10">
              <input type="text" class="mask_date form-control"  id="reference2" name="prix_vente_souhaiter" formControlName="prix_vente_souhaiter">
            </div>
          </div>
          <div class="form-group">

            <label class="col-md-2 control-label">Priorite Vente</label>
            <div class="col-md-10">
              <input type="text" class="form-control" rows="5" class="mask_date form-control" name="priorite_de_vente" formControlName="priorite_de_vente">
              <span class="help-block"></span>
            </div>

          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Date achat</label>
            <div class="col-md-10">
              <input type="date" class="mask_date form-control"  name="date_achat" formControlName="date_achat">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Date expiration</label>
            <div class="col-md-10">
              <input type="date" class="mask_date form-control"  name="date_expiration" formControlName="date_expiration">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1" class="col-md-2 control-label">Produits </label>
            <div class="col-md-10">
              <select class="form-control" id="exampleFormControlSelect1" formControlName="produit_id" name="produit_id" >
                <option></option>
                <option *ngFor="let i of produit" ngValue="{{i.id}}">{{i.nom}} </option>

              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-link" >Close</button>
            <button type="submit"  class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
  </div>
</div><!-- END MODAL PRIMARY -->
</div>
