<!-- START PAGE CONTAINER -->
<div class="container">
  <!-- BASIC EXAMPLE -->
  <div class="block">
    <div class="app-heading app-heading-small">
      <div class="title"><h2>Ajouter une Categorie</h2>
        <p>categorie</p>
      </div>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label class="col-md-2 control-label">Nom</label>
        <div class="col-md-5">
          <input type="text" class="mask_date form-control" name="nom" ngModel>
          <span class="help-block">Nom de la categorie au moins 4 caractére</span>
        </div>

      </div>

      <div class="form-group">

        <label class="col-md-2 control-label">Image</label>
        <div class="col-md-10">
          <div class="upload-btn-wrapper">
          <button class="btn btn-default">Upload a file</button>
          <input type="file" class="mask_phone form-control" #fileupload [(ngModel)]="myFile" name="myFile" (change)="fileEvent($event)">
          <span class="help-block">Image de la categorie</span>
        </div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1" class="col-md-2 control-label">Categorie disponible</label>
        <div class="col-md-10">
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="parent_id"ngValue="parent_id"  name="parent_id" >
          <option></option>
          <option *ngFor="let i of data" ngValue="{{i.id}}">{{i.nom}} </option>

        </select>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1" class="col-md-2 control-label">Produit disponible</label>
        <div class="col-md-10">
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="parent_id"ngValue="parent_id"  name="parent_id" >
            <option></option>
            <option *ngFor="let i of data" ngValue="{{i.id}}">{{i.nom}} </option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
            <option value="" disabled selected>Choose your country</option>
            <option value="1">USA</option>
            <option value="2">Germany</option>
            <option value="3">France</option>
            <option value="4">Poland</option>
            <option value="5">Japan</option>
          </select>
          <label class="mdb-main-label">Label example</label>
          <button class="btn-save btn btn-primary btn-sm">Save</button>

        </div>
      </div>
      <div class="form-group margin-top-20"><button class="btn btn-default" type="submit">Submit & Validate</button></div>


    </form>


  </div>
</div>

<!-- IMPORTANT SCRIPTS -->
<script type="text/javascript" src="assets\js\vendor\jquery\jquery.min.js"></script>
<script type="text/javascript" src="assets\js\vendor\jquery\jquery-migrate.min.js">
</script>
<script type="text/javascript" src="assets\js\vendor\jquery\jquery-ui.min.js"></script>
<script type="text/javascript" src="assets\js\vendor\bootstrap\bootstrap.min.js"></script>
<script type="text/javascript" src="assets\js\vendor\moment\moment.min.js"></script>
<script type="text/javascript" src="assets\js\vendor\customscrollbar\jquery.mCustomScrollbar.min.js"></script>
<!-- END IMPORTANT SCRIPTS -->
<!-- THIS PAGE SCRIPTS -->
<script type="text/javascript" src="assets\js\vendor\nestable\jquery.nestable.js"></script>
<script type="text/javascript" src="assets\js\vendor\bootstrap-tagsinput\bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="assets\js\vendor\bootstrap-colorpicker\bootstrap-colorpicker.min.js"></script>
<!-- END THIS PAGE SCRIPTS -->
<!-- APP SCRIPTS -->
<script type="text/javascript" src="assets\js\app.js"></script>
<script type="text/javascript" src="assets\js\app_plugins.js"></script>
<script type="text/javascript" src="assets\js\app_demo.js"></script>
<!-- END APP SCRIPTS -->
<script type="text/javascript">$(document).ready(function(){
    $("#nestable").nestable({group: 1});
    $("#nestable2").nestable({group: 1});
});</script>
<script>
// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
});
</script>
