
<!-- APP WRAPPER -->
<div class="app">
  <!-- START APP CONTAINER -->
  <div class="app-container">
    <div class="app-login-box">
      <div class="app-login-box-user">
        <img src="assets\img\user\no-image.png" alt="John Doe">
      </div>
      <div class="app-login-box-title">
        <div class="title">Déjà membre?</div>
        <div class="subtitle">Connectez-vous à votre compte</div></div>
      <div class="app-login-box-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <!--            <input type="text" class="form-control" name="login" placeholder="Email Address">-->
            <input type="email"  placeholder="Email Address" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && m.email.errors }" />
            <div *ngIf="submitted && m.email.errors" class="invalid-feedback">
              <div *ngIf="m.email.errors.required">L'email est requis</div>
            </div>
          </div>
          <div class="form-group">
            <!--            <input type="password" class="form-control" name="password" placeholder="Password">-->
            <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && m.password.errors }" />
            <div *ngIf="submitted && m.password.errors" class="invalid-feedback">
              <div *ngIf="m.password.errors.required">Le mot de passe est requis</div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-xs-6">
            <div class="app-checkbox">
              <label>
                <input type="checkbox" name="app-checkbox-1" value="0">
              Souviens-toi de moi</label>
            </div>
              </div>

            <div class="col-md-6 col-xs-6">
              <button type="submit" class="btn btn-info btn-block">Se Connecter </button>
            </div>
          </div>
          </div>
        </form>
      </div>
      <div class="app-login-box-or">
        <div class="or">OR</div>
      </div>
      <div class="app-login-box-container">
        <button class="btn  btn-light btn-block" routerLink="/signup">s'inscrire</button>
      </div>
      <div class="app-login-box-footer">&copy;SweetNess 2020. Tous droits réservés.</div>
    </div>
  </div>
  <!-- END APP CONTAINER -->
</div>
<!-- END APP WRAPPER -->

