<form  id="register-form">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <fieldset>
        <h2 class="sub-title">

          VOS INFORMATIONS PERSONNELLES</h2>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-user"></span>
                    <span class="input-text">Prénom&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder=" Prénom" required >
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-user"></span>
                    <span class="input-text">Nom&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Nom" required>
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-email"></span>
                    <span class="input-text">Email&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Email" required>
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-email"></span>
                    <span class="input-text">Mot de passe&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Mot de passe" required>
        </div>
        <div class="input-group">
                  <span class="input-group-addon"><span class="input-icon input-icon-phone">

                  </span>
                    <span class="input-text">Telephone&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Numéro Telephone" required>
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-fax">

                    </span><span class="input-text">Fax</span>
                  </span>
          <input type="text" class="form-control input-lg" placeholder="Numéro Fax" required>
        </div>
      </fieldset>

      <input type="submit" value="CREATE MY ACCCOUNT" class="btn btn-custom-2 md-margin"></div></div></form>
