<div class="row">
  <div class="col-md-3">
    <div class="app-widget-tile app-widget-tile-primary app-widget-gradient">
      <div class="line">
        <div class="title">Visiteurs</div>
        <div class="subtitle pull-right text-success">
                <span class="fa fa-arrow-up">

                </span>
        </div>
      </div><div class="intval intval-lg">3,211</div><div class="line"><div class="subtitle">Visiteurs par semaine</div></div></div></div><div class="col-md-3"><div class="app-widget-tile app-widget-tile-primary app-widget-gradient"><div class="line"><div class="title">Clients</div><div class="subtitle pull-right text-danger"><span class="fa fa-arrow-down"></span></div></div><div class="intval intval-lg">734</div><div class="line"><div class="subtitle">Clients retournés
</div></div></div></div><div class="col-md-3"><div class="app-widget-tile app-widget-tile-primary app-widget-gradient"><div class="line"><div class="title">ORDERS</div><div class="subtitle pull-right text-success"><span class="fa fa-arrow-up"></span></div></div><div class="intval intval-lg">1,029</div><div class="line"><div class="subtitle">
  + 13% PAR DERNIER MOIS</div></div></div></div><div class="col-md-3"><div class="app-widget-tile app-widget-tile-primary app-widget-gradient"><div class="line"><div class="title">
  REVENUS</div><div class="subtitle pull-right text-warning"><span class="fa fa-arrow-down"></span></div></div><div class="intval intval-lg">$19,223.33</div><div class="line">
  <div class="subtitle">-5% par rapport au mois dernier</div></div></div></div></div><div class="row"><div class="col-md-12"><div class="block block-condensed">

  <div class="table-responsive">
    <table class="table table-head-light table-striped">
      <thead>
      <tr>
        <th width="150">Order id</th>
        <th>Nom produit</th>
        <th width="250">Client</th>
        <th width="150">Total</th>
        <th width="150">Date</th>
        <th width="150">Status</th>
        <th width="120"></th>
      </tr>
      </thead>
      <tbody>
      <tr><td><a href="#" class="text-bolder text-primary">A155-33-2</a></td>
          <td><div class="contact contact-lg"><img src="assets\assets\images\shop\img-1.jpg">
            <div class="contact-container"><a href="#">Produit1</a> <span>**</span></div></div></td>
        <td><div class="contact contact-lg"><img src="assets\assets\images\users\user_8.jpg">
          <div class="contact-container"><a href="#">Juan Obrien</a> <span>Advanced</span>
          </div></div></td>
        <td><span class="text-bolder">$720.00</span></td>
        <td>07/11/2017</td>
        <td><span class="label label-danger">Canceled</span></td>
        <td><button class="btn btn-primary btn-icon"><span class="icon-pencil"></span></button>
          <button class="btn btn-danger btn-icon"><span class="icon-cross"></span></button></td>
      </tr>
      </tbody>
    </table>
  </div></div></div></div>




