<div class="main-panel">
  <div class="content">
    <div class="panel-header bg-primary-gradient">
<h1>Hello there</h1>
<form [formGroup]="formgrp" (ngSubmit)="onsubmit()">

<table class="table" style="margin: 20px;">
  <tr>
    <td>nom</td>
    <td>prix</td>
    <td>quantite</td>
    <td>  Select files:</td>
    
  </tr>

  <tr>
    <td><input type="text" formControlName="nom"  ></td>
    <td><input type="text" formControlName="prix"  ></td>
    <td><input type="text" formControlName="quantite" ></td>
    <td> <input 
      formControlName="file"
      id="file" 
      type="file" 
      class="form-control"
      multiple="" 
      (change)="onFileChange($event)"> </td>
    <td><button type="submit">plus</button></td>
  </tr>
</table>
</form>

<table *ngIf="items.length > 0" class="table">
  <tr>
    <td>nom</td>
    <td>prix</td>
    <td>quantite</td>
    
  </tr>
  <tr *ngFor="let item of items; let i index">

    
    <td>{{item.nom}}</td>
    <td>{{item.prix}}</td>
    <td>{{item.quantite}}</td>
    <td><button (click)="delete(i)">delete</button></td>
  </tr>
</table>
</div>
</div>
</div>