<section id="content">
  <div id="breadcrumb-container">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="index.html">Accueil</a></li>
        <li class="active">Créer un compte
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="content-title">
          <h1 class="title">Créer une compte</h1>
          <p class="title-desc">Si vous avez déjà un compte, veuillez vous connecter à <a routerLink="/users">page de connexion
          </a>.</p>
        </header>
        <div class="xs-margin">

        </div>

        <button type="button" class="btn btn-custom dropdown-toggle" routerLink="/users/*/societe" data-toggle="dropdown" style="position: center ; margin-bottom: 20px">
          <span class="cart-menu-icon" ></span> Créer compte professionelle <span class="drop-price"></span>
        </button>
       <router-outlet></router-outlet>
      </div></div></div>
</section>
