<button type="button" class="btn btn-custom dropdown-toggle" routerLink="/users/*/user" data-toggle="dropdown" style="position: center ; margin-bottom: 20px; margin-left: 10px ">
  <span class="cart-menu-icon" ></span> Créer compte client <span class="drop-price"></span>
</button>
<form action="#" id="register-form">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <fieldset>
        <h2 class="sub-title">

          VOS INFORMATIONS PERSONNELLES</h2>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-user"></span>
                    <span class="input-text">Prénom&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder=" Prénom">
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-user"></span>
                    <span class="input-text">Nom&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Nom">
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-email"></span>
                    <span class="input-text">Email&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Email">
        </div>
        <div class="input-group">
                  <span class="input-group-addon"><span class="input-icon input-icon-phone">

                  </span>
                    <span class="input-text">Telephone&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Numéro Telephone">
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-fax">

                    </span><span class="input-text">Fax</span>
                  </span>
          <input type="text" class="form-control input-lg" placeholder="Numéro Fax">
        </div>
      </fieldset>
      <fieldset>
        <h2 class="sub-title">Mot de passe</h2>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-password"></span>
                    <span class="input-text">Mot de passe&#42;</span>
                  </span>
          <input type="password" required="" class="form-control input-lg" placeholder="mot de passe">
        </div>

      </fieldset>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <fieldset>
        <h2 class="sub-title">YOUR ADDRESS</h2>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-company"></span>
                    <span class="input-text">Company&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Your Company">
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-address"></span>
                    <span class="input-text">Address 1&#42;</span>
                  </span>
          <input type="text" class="form-control input-lg" placeholder="Your Address">
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-address"></span>
                    <span class="input-text">Address 2&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Your Address">
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-city"></span>
                    <span class="input-text">City&#42;</span>
                  </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Your City">
        </div>
        <div class="input-group"><span class="input-group-addon">
                  <span class="input-icon input-icon-postcode"></span>
                  <span class="input-text">Post Code&#42;</span>
                </span>
          <input type="text" required="" class="form-control input-lg" placeholder="Your Post Code">
        </div>
        <div class="input-group">
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-country"></span><span class="input-text">Country*</span></span><div class="large-selectbox clearfix"><select id="country" name="country" class="selectbox"><option value="United Kingdom">United Kingdom</option><option value="Brazil">Brazil</option><option value="France">France</option><option value="Italy">Italy</option><option value="Spain">Spain</option></select></div></div><div class="input-group"><span class="input-group-addon"><span class="input-icon input-icon-region"></span><span class="input-text">Region / State&#42;</span></span><div class="large-selectbox clearfix"><select id="state" name="state" class="selectbox"><option value="California">California</option><option value="Texas">Texas</option><option value="NewYork">NewYork</option><option value="Narnia">Narnia</option><option value="Jumanji">Jumanji</option></select></div></div></fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12"><fieldset class="half-margin">
      <h2 class="sub-title">NEWSLETTER</h2>
      <div class="input-desc-box"><span class="separator icon-box"></span>
        I wish to subscribe to the Venedor newsletter.</div>
      <div class="input-group custom-checkbox"><input type="checkbox"> <span class="checbox-container">
                <i class="fa fa-check"></i>
              </span>
        I have reed and agree to the <a href="#">Privacy Policy</a>.
      </div></fieldset>
      <input type="submit" value="CREATE MY ACCCOUNT" class="btn btn-custom-2 md-margin"></div></div></form>
